* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

/*因為要讓圖片能疊上去*/
body {
  position: relative;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 150vh;
}

header {
  nav {
    width: 100%;
    ul {
      padding: 2rem;
      width: 70%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        font-size: 1.75rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  /*讓左右內容並排*/
  display: flex;
  flex-wrap: wrap;
  section.left {
    flex: 3 1 500px;
    padding: 2rem;
    h1 {
      font-size: 4rem;
      color: #e08958;
    }
    p {
      font-size: 1.5rem;
      padding: 1rem 0rem;
    }
  }

  section.right {
    flex: 3 1 600px;
    /*調整大頭照位置*/
    position: relative;
    img {
      border-radius: 50%;
      width: 20vw;
      height: 20vw;
      /*調整大頭照位置*/
      position: absolute;
      top: 30vh;
      right: 25vw;
      transform: translateY(-50);
    }
  }
}

footer {
  a {
    padding: 1rem;
  }
}

.active {
  color: #e08958;
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }

  header {
    nav {
      ul {
        width: 100%;
        flex-direction: column;
        li {
          padding: 1rem 0rem;
          border-bottom: 2px solid gray;
        }
      }
    }
  }

  main {
    section.right {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      img {
        position: static;
        transform: none;
        width: 50vw;
        height: 50vw;
      }
    }
  }
}
